* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  
  min-height: 100vh;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 40px;
}

.header .title {
  font-weight: 200;
  font-size: 20px;
}

.header .author {
  font-weight: 600;
  font-size: 20px;
  color: hsl(234, 12%, 34%);
}

.header .quote {
  font-size: 14px;
  margin-top: 8px;
  color: hsl(212, 6%, 64%);
}

.main {
  display: grid;
  gap: 24px;
  padding: 0 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: center;
  max-width: 1144px;
}

.card {
  max-width: 350px;
  height: auto;
  box-shadow: 0 10px 20px hsl(212, 6%, 84%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 16px;
}

.supervisor {
  /* grid-area: 1/1/5/2; */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
  /* grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */
  grid-area: 1/2/2/3;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
  /* grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3; */
  grid-area: 2/2/3/3;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
  /* grid-area: 1/3/5/4; */
  grid-area: 1/3/3/4;
  border-top: 4px solid hsl(212, 86%, 64%);
}

.card h4 {
  color: hsl(234, 12%, 34%);
}

.card p {
  margin-top: 8px;
  font-size: 14px;
  color: hsl(212, 6%, 44%);
}

.card img {
  align-self: flex-end;
  margin-top: 12px;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas:
      "team cal"
      "sup kar";
  }

  .supervisor {
    grid-area: sup;
  }

  .team-builder {
    grid-area: team;
  }

  .karma {
    grid-area: kar;
  }

  .calculator {
    grid-area: cal;
  }
}

@media (max-width: 576px) {
  .main {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    padding: 0 8px;
  }

  .supervisor,
  .team-builder,
  .karma,
  .calculator {
    grid-area: auto;
    grid-column: 1/1;
  }
}
